<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="reset-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-sm="12">
        <ion-card class="reset-card">
          <ion-card-header>
            <ion-card-title class="reset-title">Restablecimiento de Contraseña</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item class="input-item">
              <ion-label position="floating" class="label">Correo Institucional</ion-label>
              <ion-input type="email" [(ngModel)]="email" class="reset-input"></ion-input>
            </ion-item>
            <ion-button expand="block" color="primary" class="custom-button" (click)="resetPassword()">Recuperar</ion-button>

            <ion-text *ngIf="resetMessage" class="success-text">{{ resetMessage }}</ion-text>
            <ion-text *ngIf="errorMessage" class="error-text">{{ errorMessage }}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
