.reset-grid {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .reset-card {
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .reset-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; /* Cambiado a blanco puro para mejor contraste */
  }
  
  .input-item {
    margin-top: 20px;
  }
  
  .reset-input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
  }
  

  ion-text[color="success"] {
    color: #FFB800; /* Color amarillo para el mensaje de éxito */
  }
  
  ion-text[color="danger"] {
    color: #FF4D4D; /* Color rojo para el mensaje de error */
  }