:root {
    --ion-color-primary: #FFB800;  // Amarillo brillante para elementos destacados
    --ion-color-secondary: #1A1A1A;  // Negro oscuro para fondos y encabezados
    --ion-color-tertiary: #FFFFFF;  // Blanco para textos y elementos sobre fondos oscuros
  
    --ion-color-primary-contrast: #1A1A1A;  // Contraste sobre el color primario
    --ion-color-secondary-contrast: #FFFFFF;  // Contraste sobre el color secundario
    --ion-color-tertiary-contrast: #1A1A1A;  // Contraste sobre el color terciario
  
    --ion-background-color: #1A1A1A;  // Fondo de la aplicación
    --ion-text-color: #FFFFFF;  // Color de texto predeterminado
  }
  