// src/theme/variables.scss

:root {
    --ion-color-primary: #003366; // Azul oscuro, típico color universitario
    --ion-color-secondary: #FFD700; // Dorado, color complementario
    --ion-color-tertiary: #FFFFFF; // Blanco para fondos y textos
    --ion-color-dark: #000000; // Negro para textos
    --ion-color-light: #F0F0F0; // Color gris claro para fondos
  }
  