.login-background {
  --background: #1A1A1A;
  height: 100%;
}

.login-card, .register-card {
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-top: 20px;
}

ion-card-title {
  color: #000000;
  font-weight: bold;
}

ion-item {
  --background: #f7f7f7;
  --color: #000000;
  margin-bottom: 15px;
  border-radius: 8px;
}

ion-button {
  margin-top: 20px;
  --border-radius: 8px;
}

.error-container {
  text-align: center;
  margin-top: 10px;
}

ion-text[color="danger"] {
  color: #FF4D4D;
}