// src/app/home/home.page.scss

.welcome-card {
  text-align: center;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-tertiary);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-card ion-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--ion-color-secondary);
}

.welcome-card ion-card-subtitle {
  font-size: 1.2rem;
  color: var(--ion-color-secondary);
}

.welcome-card ion-card-content {
  margin-top: 15px;
  color: var(--ion-color-tertiary);
}

.action-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-color-tertiary);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  height: 150px;
}

.action-card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

.card-icon {
  font-size: 3rem;
  color: var(--ion-color-primary);
  margin-bottom: 10px;
}

ion-card-title {
  font-size: 1.2rem;
  color: var(--ion-color-primary);
  font-weight: 600;
}
